.img{
    height:20vh;
    width: 20vw;
}
.div{
    height: 30vh;
    width: 20vw;
    background-color:lightgrey;
    margin: 1vw;
    display: inline-block;
    border-radius: 5%;
    text-align: center;
    block-size: 3%;
}